In [8]:
#JEM207 LS2020/21 Midterm
#2021_06_04
#Petr Čala

#Various packages that might come in handy
import numpy as np
import pandas as pd
import time

import requests
import json
from bs4 import BeautifulSoup

import quandl
import matplotlib.pyplot as plt
from IPython.core.display import HTML, display

In [368]:
url = 'https://ies-midterm.soulution.rocks/login'
obj = {"cuni":"61505008"}
code = requests.post(url, json = obj).json() #Getting the response object
r.status_code
print('My personal code is' + code['data']['personal_code']) #personal code here

data_ids = code['data']['dataset_ids']        #Identifying the codes in order to obtain the data
data_list = []                                #An empty list to put the data into
error = '{"data": {}, "message": "Error [503] - Sorry, I just slipped and fell. Thank God, I am made of silicon.'
for i in data_ids:
    no_go = requests.get(f"https://ies-midterm.soulution.rocks/data/{i}").text == error #Handling the errors
    while no_go:
        partial_data = requests.get(f"https://ies-midterm.soulution.rocks/data/{i}").json()
    data_list.append(partial_data) #Appending the obtained data frame into a list to later convert into a pandas DF

My personal code isf5bd9681

In [370]:
data_frame = pd.DataFrame()
for i in range(len(data_list)):
    data_frame = pd.concat([data_frame, data_list[i]], axis = 0)
data_frame.dropna(how = 'all')
data_frame
#data_frame['Company'] = 'name_of_the_company' #As the response did not report the name of the company, we would have to look for
 #it otherwise and add it into data

,Open,High,Low,Close,Adj.Close,Volume
Date,,,,,,
2019-01-02,70.11000061035156,74.2300033569336,69.9800033569336,73.83999633789062,69.90857696533203,725100
2019-01-03,73.37999725341797,75.58999633789062,72.93000030517578,73.66999816894531,69.74761962890625,790200
2019-01-04,74.80000305175781,76.86000061035156,74.5999984741211,76.44000244140625,72.37014770507812,607900
2019-01-07,74.44999694824219,76.26000213623047,73.1500015258789,75.01000213623047,71.01628112792969,783700
2019-01-08,76.5,77.58999633789062,74.88999938964844,77.1500015258789,73.04235076904297,771300
...,...,...,...,...,...,...
2020-11-17,87.87999725341797,89.55000305175781,87.56999969482422,88.83999633789062,88.83999633789062,309400
2020-11-18,89.18000030517578,90.69000244140625,88.27999877929688,88.30999755859375,88.30999755859375,334200
2020-11-19,87.81999969482422,88.55000305175781,87.25,88.48999786376953,88.48999786376953,166300
2020-11-20,87.9800033569336,88.56999969482422,87.16000366210938,88.30999755859375,88.30999755859375,196500
,NaN,NaN,NaN,NaN,NaN,NaN